@media all and (max-width:1023px){
  .scroll-control span{
    display: none;
  }
}


.containerM{
justify-content: center;
display: flex;
width: 100vh;
height: 100vh;
}
.containerS{
height: 100%;
font-size: 100px;
}

.row{
  align-items: center;
  text-align: center;
  height: 100%;
}
.scroll-s-one{
  color:aqua;
  background-color: rgb(173, 107, 27);
}
.scroll-s-two{
  color:rgb(23, 59, 59);
  background-color: bisque;
}
.scroll-s-three{
  color:aqua;
  background-color: bisque;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.image{
  width: 100px;
  height: 100px;
}

.scroll-control{
  position: fixed;
  right: 20px;
  top:50%;
  transform: translateX(-50%);
  z-index: 999;
}
.scroll-control span{
  cursor: pointer;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 10px 0;
  background-color: black;
  opacity: 0.7;
}

.scroll-control span:hover{
  opacity: 1;
}

