.container { 
     display: flex;
    justify-content: space-between;
  }
  
  .sigla {
  background-color: aqua;
   }
  
  .about { 
  background-color: black;
   }
  
  .contact { 
  background-color: beige;
   }
  
  .dropdown { 
  background-color: aqua;
   }
  